/* Login.css */
body{
  background-image: url('https://images.pexels.com/photos/165505/pexels-photo-165505.jpeg?auto=compress&cs=tinysrgb&w=600');

background-repeat: no-repeat;
background-size: cover;

  

  
}
.login-container {
 
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 300px;
  background-color: #f8ead6; /* Light orange background */

  margin-top: 10%;
  margin-left: 18%;
    
  }
  hr{
  margin-bottom:30px;
  }

  .login-header {
    text-align: center;
    margin-bottom: 60px;
  }
  
  .login-header h2 {
    color: #333;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-input {
  
    width: 90%;
    padding: 20px;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    padding: 8px;
    border: 1px solid #ff9f1a; /* Orange border */
    margin-bottom: 30px;
  }
  
  .login-input:focus {
    border-color: rgb(87, 56, 0);
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 173, 20); /* Green button */
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .login-button:hover {
    background-color: rgb(63, 42, 2);
  }
  
  .login-link {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .login-link a {
    color: green;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }
  